{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Divulga SJC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{% static 'webpage/style.css' %}"
    />
</head>
<body>
    <header>
        <div>
            <h1>Divulga SJC</h1>
        </div>
        <div>
            <a href="{% url 'negocio_create' %}">Cadastre seu negócio</a>
        </div>
    </header>
    <nav>
        <h2>Categorias</h2>
        <div class="categorias">
            <div><a href="{% url 'categoria1' %}">Alimentação</a></div>
            <div><a href="{% url 'categoria2' %}">Vestuário</a></div>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div>
            <h2>Divulga SJC</h2>
        </div>>
    </footer>
</body>
</html>