{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feira Parque Santos Dumont</title>

    <!-- Icones -->
    <link rel="stylesheet" href="{% static 'feirapage/icones/style.css'%}">

    <!-- STYLES -->
    <link rel="stylesheet" href="{% static 'feirapage/style.css'%}">

    <!-- FONTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- SWIPER -->
    <link  rel="stylesheet"  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <header id="header" class="scroll">
        <nav class="container navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand logo" href="#">feira<span>.SantosDumont</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
              <div class="navbar-nav items">
                <a class="nav-item nav-link" href="#home">Início<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#about">Sobre</a>
                <a class="nav-item nav-link" href="#services">Os feirantes</a>
                <a class="nav-item nav-link" href="#testimonials">Depoimentos</a>
                <a class="nav-item nav-link" href="#contact">Contato</a>
              </div>
            </div>
          </nav>
    </header>

    <main class="container">

        <!-- HOME -->
        <section class="section" id="home">

            <div class="container grid">
                <div class="imagem">
                    <img src="https://media.istockphoto.com/photos/various-fresh-fruits-and-vegetables-on-market-counter-in-a-wooden-picture-id1014177224?b=1&k=20&m=1014177224&s=170667a&w=0&h=nMKrkfyg0JzJjhthayB7i_fhRbMQxaGpASwPGjsJQBo=" alt="frutas expostas em caixote">
                </div>
                <div class="text">
                    <h2 class="title">Saúde e sustentabilidade</h2>
                    <h3>Agricultura familar de São José dos Campos</h3>
        
                    <p>Feira do Parque Santos Dumont: Alimentos, artesanatos e diversos produtos</p>
                    <!-- <a class="button" href="#">Agende seu horário</a> -->
                </div>    
                <div>

                </div>        
            </div>

        </section>       
        <!-- /HOME  -->

        <div class="divider">   </div>

        <!-- ABOUT -->
        <section class="section" id="about">
            <div class="container grid">
                <div class="imagem">
                    <img src="https://vidasimples.co/wp-content/uploads/2019/09/vida-simples-feira-vai-ter-feira-4-1147x523.png" alt="feira de rua com pessoas andando. Frutas e verduras expostas em barracas">
                </div>

                <div class="text">
                    <h2 class="title">Sobre nós</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum laboriosam sapiente aspernatur! Cum, consequuntur quod? Esse porro, quod ipsam, maxime repudiandae atque ratione minima quo, laboriosam est quasi veniam!
                    </p>
        
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti id in ipsum deserunt, alias aliquid cupiditate fuga quis numquam nesciunt autem natus obcaecati sunt beatae omnis expedita excepturi esse similique?</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia facere consectetur officiis numquam voluptatum animi saepe, perspiciatis, deleniti explicabo iste, rem natus debitis quos. Porro facilis recusandae quibusdam necessitatibus eaque!</p>
                    
                </div>     

            </div>
        </section>
        <!-- /ABOUT -->

        <div class="divider2">   </div>
    
         <!-- SERVICES - FEIRA -->
        <section class="section" id="services">

            <div class="container grid">
              <header>
                <h2 class="title">Feirantes</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident eos, a beatae modi perferendis ratione maxime, soluta incidunt cumque delectus atque itaque amet neque labore nemo voluptatibus, magni ducimus ab minus maiores! Nesciunt quas et eum neque, aperiam sint quasi optio maxime, delectus cumque excepturi fugit eos? Minus, fuga officia.</p>
              </header>
              <div class="cards grid">              
              
                <div class="card mb-3 cardfeira grid">
                    <img class="card-img-top" src="{% static 'feirapage/images/card1.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Barraca do Senhor João</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, officiis. Soluta doloribus quod provident perferendis dignissimos. Deleniti suscipit aliquam velit facere consequatur placeat magni quas laborum ipsa atque, ratione reprehenderit. </p>
                      <p class="card-text"><small class="text-muted">atualizado em 17/10/2021</small> </p>
                    </div>
                  </div>

                  <div class="card mb-3 cardfeira grid">
                    <img class="card-img-top" src="{% static 'feirapage/images/card1.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Barraca do Senhor João</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, officiis. Soluta doloribus quod provident perferendis dignissimos. Deleniti suscipit aliquam velit facere consequatur placeat magni quas laborum ipsa atque, ratione reprehenderit. </p>
                      <p class="card-text"><small class="text-muted">atualizado em 17/10/2021</small> </p>
                    </div>
                  </div>

                  <div class="card mb-3 cardfeira grid">
                    <img class="card-img-top" src="{% static 'feirapage/images/card1.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Barraca do Senhor João</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, officiis. Soluta doloribus quod provident perferendis dignissimos. Deleniti suscipit aliquam velit facere consequatur placeat magni quas laborum ipsa atque, ratione reprehenderit. </p>
                      <p class="card-text"><small class="text-muted">atualizado em 17/10/2021</small> </p>
                    </div>
                  </div>

                  <div class="card mb-3 cardfeira grid">
                    <img class="card-img-top" src="{% static 'feirapage/images/card1.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Barraca do Senhor João</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, officiis. Soluta doloribus quod provident perferendis dignissimos. Deleniti suscipit aliquam velit facere consequatur placeat magni quas laborum ipsa atque, ratione reprehenderit. </p>
                      <p class="card-text"><small class="text-muted">atualizado em 17/10/2021</small> </p>
                    </div>
                  </div>                  
                
            </div>

            
        </section>
        <!-- /SERVICES - FEIRA -->

        <div class="divider">   </div>

        <!-- TESTIMONIALS -->
        <section class="section" id="testimonials">

          <div class="container">
            <h2 class="title">Deixe um depoimento sobre a Feira Santos Dumont</h2>
          
          
            <!-- caixa de depoimentos(com swiper) -->
            <div class="testimonials swiper-container">
              <div class="swiper-wrapper">
              {% for contador in latest_post_list %}
                <div class="card-testimonial swiper-slide">
                  <blockquote>
                    <p>
                    <span>&ldquo;</span>
                    {{ contador.text }}
                  </p>
                    <cite>
                      {{ contador.author }} em {{ contador.pub_date }}

                    </cite>
                  </blockquote> 
                </div>   
              {% endfor %}  
                
              </div>
              <div class="swiper-pagination"></div>
            </div>

            
            <!-- formulário de depoimentos -->
            <div>
              <form action="" method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" class="btn btn-secondary" value="Enviar">
              </form>
            </div>

          </div>

        </section>
        <!-- /TESTIMONALS -->
        
        <div class="divider2">   </div>

        <!-- CONTACT -->
        <section class="section" id="contact">
            <div class="container grid">


              <div class="text">
                <h2 class="title">Nos encontre aqui</h2>
                <p>Venha conhecer a Feira Santos Dumont</p>
                <p>Vejo os dias, horários e localização</p>
              </div>

                <div class="row text">

                  <div class="col-md-6">                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.1847257228615!2d-45.89322918539309!3d-23.199937654228677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a6e8144b717%3A0xc2cc0db732576017!2sParque%20Santos%20Dumont!5e0!3m2!1spt-BR!2sbr!4v1634782556769!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>

                  <div class="col-md-6"> ,
                    <h5><i class="icon-store"> </i>Dias e Horários</h5> 
                    <ul>
                      <li>Segunda-feira: das 9h às 18h</li>
                      <li>Quarta-feira: das 9h às 18h</li>
                      <li>Quinta-feira: das 9h às 18h</li>
                      <li></li>
                      <li></li>
                    </ul> 
                    <p><i class="icon-map-pin"></i> R. Eng. Prudente Meireles de Morais, nº 1000, Vila Adyana, São José dos Campos - SP</p>
                  </div>

                  

                  
                </div>
  
                

              

                      
              
              

            </div>
        </section>
        <!-- /CONTACT -->



    </main>

    

    <footer>

    </footer>
    

    <!-- SWIPER -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- Scroll Reveal -->    
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- JS -->
   <script src="{% static 'feirapage/script.js' %}"></script>
    
</body>
</html>